.column-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 98vh;
}

.video-controls-container {
    display: flex;
    align-items: flex-start;
}

.youtube-video {
    margin: 5px;
}

.remove-button {
    margin: 5px 0px;
    border-radius: 5px;
    background-color: red;
    padding: 0px 2px;
    cursor: pointer;
}

.linkalike {
    border: none;
    background-color: #00000000;
    color: lightblue;
    cursor: pointer;
}

.linkalike:hover {
    color: cyan;
}

.form-buttons-container {
    display: flex;
    justify-content: space-between;
}

.inline-form {
    display: inline-block;
}

.big-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
